<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="logfile"
            fileName="${basedir}/Logs/${shortdate}.log"
            archiveFileName="${basedir}/Logs/${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="30"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=tostring}" />
    <target xsi:type="ColoredConsole" name="logconsole"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=tostring}"
            useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>
  </targets>

  <rules>
  <logger name="MainActs" minlevel="Info" writeTo="logfile" />
  <logger name="StartupLogger" minlevel="Info" writeTo="logfile" />
  <logger name="FileService" minlevel="Info" writeTo="logfile" />
  <logger name="*" minlevel="Error" writeTo="logfile" />
  <logger name="*" minlevel="Error" writeTo="logconsole" />
  <logger name="MainActs" minlevel="Info" writeTo="logconsole" />
  <logger name="StartupLogger" minlevel="Info" writeTo="logconsole" />
</rules>

</nlog>
